body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-section {
    text-align: center;
    padding: 80px 0;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.team-section {
    padding: 60px 0;
}

.team-section h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.team-cards {
    display: flex;
    justify-content: center; /* Tüm kartları yatay olarak ortala */
    gap: 20px; /* Kartlar arasına 20px boşluk ekle */
    
    margin-top: 40px; /* Üst boşluk ekleyelim */
}



.team-card {
    width: 30%;
    background-color: #ff6600;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 4px solid #222;
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-info .profession {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-info p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.contact-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #0056b3;
}
